.box {
    background: url('../public/images/neighborhood.jpg');
    background-size: cover;

    display: grid;
    width: 100%;
    place-content: center;
    height: 100vh;


    .content {
        background-color: #D8D8D8;
        height: 13rem;
        width: 26rem;
        filter: drop-shadow(19px 18px 3px #000);

        ul {
            margin: 0;
            padding: 2px 10px;
            list-style-type: none;
            display: flex;
            gap: 10px;

            li {
                padding: 0;
                margin: 0;
            }
        }



        .boxHeader {
            display: flex;
            justify-content: space-between;
            margin: 3px;
            background: rgb(111, 111, 111);
            background: linear-gradient(94deg, rgba(111, 111, 111, 1) 20%, rgba(138, 137, 137, 0) 100%);

            .xBox {
                margin: 1px;
                border: 2px outset #fff;
                display: flex;
                justify-content: center;
                background-color: white;
                height: 1rem;
                width: 1rem;
            }

            .xBox:active {

                border: 2px inset #ffffff;
            }
        }

        .info {
            position: relative;
            display: flex;


        }

        .btn-box {
            position: absolute;
            right: 1.8rem;
            bottom: 10px;
            align-self: end;
            justify-content: end;

            button {
                padding: 5px 15px;
            }

        }

        .ul-box {
            display: flex;
            align-items: center;


            .info-ul {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;

                li {
                    padding-left: 5px;
                    font-size: 0.8rem;
                }

            }

        }

        .profileSquareBox {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border: 1px solid black;
            outline: solid 5px white;
            outline-offset: -6px;
            height: 90px;
            width: 90px;
            margin: 10px;
            position: relative;
            overflow: hidden;



            img {
                max-width: 140%;
                position: absolute;
                z-index: 1;

            }
        }

    }
}